* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 1rem 3rem;
    background-color: #000;
}

.name-props {
    width: 12rem;
    text-align: center;
    font-size: 1.5rem;
    color: #FDC57B;
}

.img-props {
    height: 12rem;
    width: 12rem;
}

.bottom-props {
    width: 12rem;
    text-align: center;
    font-size: 1rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}